aside.sidebar-left .sidebar-logo img {
	max-width: 200px;
	padding-right: 5px;
	vertical-align: middle;
	border-style: none;
}
aside.sidebar-left#resizable {
	height: 100vh;
	min-width: 23%;
}
 @media (min-width: 768px) {
.wrapper .sidebar-left {
	top: 0;
}
}
 @media (min-width: 1200px) {
aside.sidebar-left {
	width: 120px;
}
}
aside.sidebar-left {
	width: 120px;
	top: 0;
	float: left;
	box-shadow: -5px 0 0 #f7f7f7 inset;
	z-index: 1000;
}
aside.sidebar-left .draghandle {
	position: absolute;
	z-index: 100;
	width: 8px;
	top: 0;
	bottom: 0;
	right: 0;
	cursor: col-resize;
	float: right;
	background-color: #B0BEC5
}
.wrapper {
	min-height: 100vh;
	width: 100%;
	height: 100%;
	table-layout: fixed;
	overflow: hidden;
	padding-top: 0;
}
.wrapper #mainArea.content {
	margin-left: 25%;
}
 @media (min-width: 992px) {
.wrapper #mainArea.content {
	margin-left: 130px;
}
}
.mt-wrapper {
	position: relative;
	z-index: 1;
}
ul {
	list-style-type: none;
}
.nav {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	overflow-x: hidden;
	background-color: white;
}
.nav a {
	font-weight: 500;
	color: #939089;
}
.nav h5 {
	margin-right: 4px;
	color: #999;
	font-size: 1rem;
	text-transform: uppercase;
}
h1 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #f1f1f1;
}
body {
	font-family: 'Roboto', sans-serif;font-size:0.875rem;
	color:#333;
	background-color: #edf4ff;
	overflow-x: hidden;
	height:100%;
	overflow-y: hidden
}
hr {
	border-top: 1px solid rgba(255, 255, 255, .4);
}
.secttt-one {
	padding-bottom: 0.2%;
	border-bottom: #e8eaf2 4px solid;
	height: 4%;
}
.secttt-two {
	margin-top:2%;
	border-bottom: #e8eaf2 6px solid;
}
.menuu-bar {
	border-bottom: #e8eaf2 6px solid;
}
.margin-topp-checbox {
	margin-top: 12px;
}
.my-custom-scrollbar {
	position: relative;
	height: 100%;
	overflow-y: scroll;
}
.table-wrapper-scroll-y {
	overflow-y: scroll;
	display: block;
}
.footerrrr {
	width: 100%;
	margin-left: 0.7%;
	text-align: right;
	margin-top:-5px;
	margin-bottom:-5px;
}
.sect-tabl {
	width: 100%;
	margin-left: 0.7%;
	margin-right: 0.5%;
	background-color: #ffffff;
}
thead tr:nth-child(1) th {
	background: white;
	position: sticky;
	top: 0;
	z-index: 10;
}
table.table-hover tbody tr:hover {
	background-color: #64c5ec  !important;
	color: #000000;
	font-weight: 400;
}

 @media (max-width: 1024px) {
	.sect-tabl {
		width: 100%;
		margin: 0px auto;
		padding: 0px;
	}
}
 @media (max-width: 768px) {
	.sect-tabl {
		width: 100%;
		margin: 0px auto;
		padding: 0px;
	}
}
@media (max-width: 640px) {
	.sect-tabl {
		width: 100%;
		margin: 0px auto;
		padding: 0px;
	}
}
 @media (max-width: 360px) {
	aside.sidebar-left#resizable {
		height: 100vh;
		min-width: 90px;
	}
	aside.sidebar-left .sidebar-logo img {
		max-width: 88px;
		padding-right: 5px;
		vertical-align: middle;
		border-style: none;
	}
	.sect-tabl {
		width: 100%;
		margin: 0px auto;
		padding: 0px;
	}
}
.con-fld-bg-color {
	background-color: #FFF;
	height: 40px;
	padding-top:0.2%;
	padding-left:2%;
	padding-right:2%;
	width: 100%;
}
.btn-primary {
	background-color: #2abfc1 !important;
	border: 1px solid #2abfc1 !important;
}
.btn-primary:not(:disabled):not(.disabled):active {
	background-color: #01acb2 !important;
	border: 1px solid #01c4cb !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
	background-color: #01acb2 !important;
	border: 1px solid #01c4cb !important;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
	background-color: #01acb2 !important;
	border: 1px solid #01c4cb !important;
}
.text-primary, .dropdown-menu > li > a.text-primary {
	color: #01c0c8 !important;
}
.text-success, .dropdown-menu > li > a.text-success {
	color: #55ce63;
}
.text-danger, .dropdown-menu > li > a.text-danger {
	color: #f62d51;
}
.text-info, .dropdown-menu > li > a.text-info {
	color: #009efb;
}
.text-warning, .dropdown-menu > li > a.text-warning {
	color: #ffbc34;
}
.text-purple, .dropdown-menu > li > a.text-purple {
	color: #7460ee;
}
@media only screen and (max-width: 1366px) and (min-width: 768px)  {
.my-custom-scrollbar {
	max-height:585px;
	width:100%;
}
}

@media only screen and (max-width: 2000px) and (min-width: 1367px)  {
.my-custom-scrollbar {
	height: 1000px;
	width:100%;
}
}
@media only screen and (max-width: 3200px) and (min-width: 2001px)  {
	.my-custom-scrollbar {
		height: 1700px;
		width:100%;
	}
}
.dwln{
	width:90px !important;
}
.mllll-4{
	margin-left:40% !important;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.serchclearclass{
	margin-left: 89%;
	position: absolute;
	z-index: 9999;
	float: right;
	display:none;
	cursor:pointer;
	margin-top: -26px;
}
.sectionone{
	background-color:#FFF;
	height:60px;
	padding-top: 12px;
}
.refreshIco
{
    font-size: 14px;
    border: 1px solid;
    border-radius: 50px;
    padding-top: 13px;
    padding-left:14px;
    color: #27bbbd;
    width: 43px;
    height: 42px;
}

.permission_table_height{
	overflow-y:auto; 
	height: 570px;
}
.table-sm td, .table-sm th {
	padding: .3rem !important;
}
@media (min-width: 1080px) and (max-width: 1920px)  {
    .permission_table_height{
		height: 665px;
	}
	.table-sm td, .table-sm th {
		padding: .4rem !important;
	}
}

/*08 FEB 2022*/
/* for white background*/
.white-bg{
	background:#ffffff !important;
  }
  
  /*for padding top and bottom*/
  .padding-top-bottom{
	padding-top: 0.2%;
	padding-bottom: 0.2%;
  } 
  
  /* Chrome, Safari */
	.scrollable-element::-webkit-scrollbar-thumb:horizontal {
	   height: 1px;
   	   width: 11px;
	   background-color: #888;
	}
  
  /*Firefox for Android, Firefox */
  .scrollable-elements {
	--scrollbarBG: #CFD8DC;
	--thumbBG: #888;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  .scrollable-elements::-webkit-scrollbar {
	width: 11px;
  }
  .scrollable-elements::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
  }
  .scrollable-elements::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG) ;
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
  }
  .pagecounts:hover{
	color: #007bff !important;
  }
/* Handle payment information message*/
.paymentwarningclass{background-color: #fcf8e3;}
.billnotpaidclass{color:#8a6d3b;}
.warningclass{color:#8a6d3b; margin-right: 0.2%; font-size: 16px;}

.sessiontimercss {
	color: #fff;
	margin-top: 20px;
	margin-right: 20px;
	width: 10%;
	float: right;
	font-size: 18px !important;
  }
  .confirmheadercss {
	color: #fff;
	margin-top: 20px;
	margin-left: 20px;
	width: 75%;
	float: left;
	font-size: 18px !important;
  }

  .btn.btn-rounded {border-radius:50px;}
  .navigate-ref-exp-btn{
	width:120px;
	height:40px;
  }