@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../../font/Helvetica-CondensedLight.woff);
}

body{font-family: 'Roboto', sans-serif;color:#333; }

.nopaddingLR
{
	padding-left: 0;
	padding-right: 0;
}
.logo
{
	width: 50px;
}
.pt15
{
	padding-top: 15px;
}
.pt20
{
	padding-top: 20px;
}
.pt10
{
	padding-top: 10px;
}
.pt40
{
	padding-top: 40px;
}
.pb20
{
	padding-bottom: 20px;
}
.pb40{
  padding-bottom: 40px;
}
.mt10
{
	margin-top:10px;
}

.userspan span
{
  font-weight: normal !important;
}
.label-to-bold-if-checked:checked + span {
  font-weight: bold;
}
.searchSeccontact
{
    background: #ecf2fe;
    width: 30%;
    border: 1px;
    border-radius: 20px;
    height: 40px;
    text-indent: 15px;
    font-size: 18px;
    font-weight: 400;
    
    margin-left: 10px;
}
.contact
{
  padding-top: 10px;
}
.searchSec
{
  background: #ecf2fe;
    width: 94%;
    border: 1px;
    border-radius: 500px;
    height: 42px;
    text-indent: 27px;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075)!important;
}
.fa.fa-search
{
    position: absolute;
    left: 22px;
    top: 10px;
}
.search-clear
{
	position: absolute;
  right: 22px;
  top: 10px;
  color: #9E9E9E;
}
::-webkit-input-placeholder 
{ /* Edge */
  color: #333;
}

:-ms-input-placeholder 
{ /* Internet Explorer */
  color: #333;
}
::placeholder 
{
  color: #333;
}
.refreshIco
{
  font-size: 14px;
    border: 1px solid;
    border-radius: 50px;
    padding-top: 13px;
    padding-left:14px;
    color: #27bbbd;
    width: 43px;
    height: 42px;
}
.floR
{
  float: right;
}
.floR img
{
    width: 55px;
    padding-right: 7px;
}
.profIm
{
  border: 1px solid #ccc;
  border-radius: 20px;
  padding-right: 10px;
  overflow: hidden;
  float: right;
  font-weight: 700;
  margin-left: 18px;
}

.bg
{
	background-color: #eaeef3;
}
.tabHeadSecpen img
{
  float: right;
}
.tableList img
{
  width: 70px;
}
.tableList
{
  table-layout: fixed;
  width: 100%;
}
.tableListhis
{
  table-layout: fixed;
  width: 100%;
}
.tableListhis tr
{
	background: #fff;
}
.tablebodySec,.tableHeadSec
{
	background: #fff;
  border-radius: 0px;    
}
.tablebodySec .single
{
	padding-top: 15px;
  	padding-bottom: 15px;
	/*border-bottom: 1px solid #f5f5f5;*/
	border-bottom: 1px solid #e2e1e1;
}
.tablebodySec
{
	margin-top: 10px;
	box-shadow: 0 2px 5px rgba(194, 216, 252, 0.26);
}
.tableHeadSec
{
	    padding-top: 20px;
    padding-bottom: 14px;
  box-shadow: 0 2px 5px rgba(194, 216, 252, 0.26);
}
.margintop
{
  margin-top: 10px;
  cursor: pointer;
}
.overlayuserdetails
{
  background-color: #e8f9ff !important;
}
.inputuser
{
  border-bottom: 1px solid #0d246e;
  background: #e8f9ff;
}
.cancelbtndetails
{
  padding-left: 65%;
  text-decoration: underline;
}
.lsatCol
{
	text-align: right;
}
.transImg
{
  width: 35px;
  margin-right: 10px;
}
.sidebar ul
{
  list-style-type: none;
  padding-left: 0;
  margin: 0; 
  text-align: center;
  font-size: 12px;
  padding-top: 24px;
}
.sidebar p
{
	margin: 0;
	margin-top: 10px;
}
.sidebar li
{
	margin-top: 15px;
	padding: 10px;
	color: #b4d1ff;
}
.sidebar li:hover img
{
	filter: invert(65%) sepia(50%) saturate(2746%) hue-rotate(165deg) brightness(98%) contrast(96%);

}
.sidebar li:hover
{
  color: #23bbf3;
  /*background-color: #ecf2fe;*/
  cursor: pointer;	
}

.sidebarliimgactive
{
	filter: invert(65%) sepia(50%) saturate(2746%) hue-rotate(165deg) brightness(98%) contrast(96%) !important;

}
.sidebarliactive
{
  color: #23bbf3 !important;
  background-color: #ecf2fe !important;
  cursor: pointer !important;
}
.sidebarliactive-ai {
  color: #23bbf3 !important;
  background-color: #ecf2fe !important;
  cursor: pointer !important;
  padding-top: 44px !important;
}

/* 
 * Position both AI images in same place
*/
#adm_spadmsearchindex li> img {
  position: absolute;
  top: calc(100% - 68px);
  left: calc(50% - 14px);
}
/* 
 * Show the last AI image by default
*/
#adm_spadmsearchindex li > img:last-of-type {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
/* 
 * Hide the last AI image on hover
*/
#adm_spadmsearchindex li:hover > img:last-of-type {
  display: none;
}

.pl0
{
	padding-left: 0;
}
.sidebar li.active img
{
	filter: invert(65%) sepia(50%) saturate(2746%) hue-rotate(165deg) brightness(98%) contrast(96%);

}
.sidebar li.active
{
  color: #23bbf3;
  background-color: #ecf2fe;
  cursor: pointer;	
}
.overlay
{
	position: absolute;
	width: 100%;
	top: 10px;
	height: 100%;
	padding-top: 5%;
	z-index: 1;
}
.overlaySec {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 2;
    border: 2px solid #cccccc;
    border-radius: 12px;
    padding-right: 39px;
    width: 100%;
}
.overlaySecc
{
	background: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 2;
  border: 2px solid #f7f0f0;
  border-radius: 12px;
  padding-right: 39px;
}
.tabHeadSec
{
	display: inline-block;
}
/*.tabHeadSec span:nth-child(4)
{
border-radius: 0px 16px 16px 0px;
}*/
.tabHeadSec span:nth-child(2)
{
  border-radius: 0px 16px 16px 0px;
}
.tabHeadSec span:focus
{
  background-color: #25bcf1;
}
.tabHeadSec span
{
  padding: 6px 13px 6px 13px;
  display: inline-block;
  border-right: 1px solid #c7daf8;
    border-top: 1px solid #c7daf8;
    border-bottom: 1px solid #c7daf8;
  margin-left: -4px;	
  font-weight: bold;
  padding-left: 20px;
    padding-right: 20px;
}
.edit
{
  text-align: right !important;
  left: 200px !important;
}
.tabHeadSec span:nth-child(1)
{
  border-left: 1px solid #c7daf8;
  border-radius: 16px 0px 0px 16px;
}

.popSelect
{
	width:100%;
	color: #9E9E9E;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  height: 40px;
}
.tabContSingle
{
  margin-top: 20px;
}
.inputClass
{
	width:100%;
	color: black;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  height: 40px;
}
.inputClass::-webkit-input-placeholder 
{ /* Edge */
 color: #9E9E9E;
}

.inputClass:-ms-input-placeholder 
{ /* Internet Explorer */
  color: #9E9E9E;
}

.inputClass::placeholder 
{
  color: #9E9E9E;
}
.themecolor
{
	color: #23c2bd;
}
.container 
{ 
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.container input 
{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark 
{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 4px;
  margin: 0px 0 0;
  border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark 
{
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark 
{
  background-color: #25bcf1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after 
{
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after 
{
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after 
{
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tabBtn
{
	padding: 7px 0px;
  background-color: #23c2bd;
  color: #fff;
  width: 21%;
  border-radius: 35px;
  border: 1px solid #23c2bd;
  font-weight: bold;
  float: right;  
}
.tabmetadata{
  padding: 0px 0px;
  background-color: #23c2bd;
  color: #fff;
  width: 44%;
  border-radius: 35px;
  border: 1px solid #23c2bd;
  font-weight: bold;
  float: right;  
  margin-left: 10%;
}
.delbtn{
  padding: 7px 0px;
  background-color: #23c2bd;
  color: #fff;
  width: 30%;
  border-radius: 50px;
  border: 1px solid #23c2bd;
  font-weight: bold;
  margin-top: 5%;
  margin-left: 35%;
}
.delbtn:hover {
  background-color: #3bc4c6;
  border: 1px solid #3bc4c6;
}

.delbtn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #3bc4c6;
}
.delheader{
    background: #23bbf3;
    text-shadow: 0px 0px 1px #000;
    color: #FFF !important;
    line-height: 36px;
    height: 40px;
    padding: 0;
    border-radius: 6px 6px 0 0;
    box-shadow: 0px 7px 5px 0px #625E5E;
    font-size: 14px !important;
}
a:hover
{
  text-decoration: none;
}
.cancelbtn
{
  padding-left: 60%;
  padding-top: 9px;
  text-decoration: underline;
}
.tabHeadSec .active
{
  cursor: pointer;
	background-color: #25bcf1;
	color: #fff;
  border-color: #25bcf1;
}
.tabHeadSec span:hover
{
  cursor: pointer;
  background-color: #25bcf1;
  border-color: #25bcf1;
  color:#fff;

}
.tabCont
{
	display: none;
}
.tabactive
{
	display: block;
}
.pointerClass
{
	cursor: pointer; 
}
.heading
{
	font-weight: bold;
}
.scrollsec table
{
width:110%;

}
.scrollsec td
{
  padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 20px;
}

.scrollsec
{
	overflow-x: scroll;
}
.scrollsec th
{
	padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  
}
.scrollsec th:nth-child(1)
{
	border-radius: 11px 0px 0px 9px;
}
.scrollsec th:nth-last-child(1)
{
	border-radius: 0px 11px 9px 0px;
}
.bodySec
{
  background: #fff;
	border-radius: 10px;
}
.he20 td
{
  background: #f3f8fc;
  border-bottom: none;
  padding-top: 1px;
    
}
.outerScroll
{
  background: #fff;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 13px;
    border-radius: 10px;
    overflow: hidden;
}
.bodySec tr:nth-child(1) td:nth-child(1)
{
	border-radius: 11px 0px 0px 0px;
}
.bodySec tr:nth-child(1) td:nth-last-child(1)
{
	border-radius: 0px 9px 0px 0px;
}
.bodySec tr:nth-last-child(1) td:nth-last-child(1)
{
	border-radius: 0px 0px 11px 0px;
}
.bodySec tr:nth-last-child(1) td:nth-child(1)
{
	border-radius: 0px 0px 0px 11px;
}
.scrollsec::-webkit-scrollbar {
  height: 5px;
}

.scrollsec::-webkit-scrollbar-thumb {
	height: 2px;
	border-radius: 10px;
	background: #d7e2f4;
}

.scrollsec::-webkit-scrollbar-thumb:horizontal {
	height: 1px;
	border-radius: 5px;
	background: #2b2929;
}


.scrollsec th:nth-last-child(1) {
    border-radius: 0px 11px 9px 0px;
    text-align: right;
    padding-right: 20px;
}
.exeptfirst
{
  text-align: center;
  left: 155px;
  font-size: 16px;

}
.checkhead
{
  border: 1px solid #dbe9ff;
  background-color: #edf4ff;
}
.fullcheckone
{
  border: 1px solid #dbe9ff;
}
.containeradvance
{
  padding-top: 20px;
}
.advancechecked
{
  overflow-y: scroll;
  height: 90px;
  background-color: #e7f8ff;
}
.large-2::-webkit-scrollbar-track 
{  
  
  background-color: transparent;
}

.large-2::-webkit-scrollbar 
{
  width: 10px;
}

.large-2::-webkit-scrollbar-thumb 
{
  border-radius: 10px;
  
  background-color: #d1e0f3  ;
}
.wrap-input100 
{  
  position: relative; 
}
.input100 
{ 
  color: #555555;
  line-height: 1.2;
  display: block;
  height: 45px;
  background: transparent;
  padding: 0 5px;
  border-bottom: 2px solid #666;
  border-top: none;
  border-left: none;
  border-right: none;
}
.focus-input100 
{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 21;
  pointer-events: none;
}

.focus-input100::before 
{
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

}

.focus-input100::after 
{
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after
{
  top: -15px;
}

.input100:focus + .focus-input100::before 
{
  width: 100%;
}

.has-val.input100 + .focus-input100::after 
{
  top: -15px;
}

.has-val.input100 + .focus-input100::before 
{
  width: 100%;
}
.span
{
  color: #000;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.18px;
}
.heading img
{
  width: 30px;
  padding-left: 6px;
}
.tabCont span
{
  font-weight: bold;
}
.profIm span
{
  font-weight: bold;
}
input:focus 
{
  outline: none;
}
select:focus 
{
  outline: none;
}
button:focus 
{
  outline: none;
}
.refreshimg
{
  width: 43px;
  padding-top: 4px;
}
.tabsContentcomm
{
  display: none;
}
.tabsContentcomm.active
{
  display:block;
}
.tabHeadSecManage
{
  display: inline-block;
}
.tabHeadSecManage span
{
  padding: 6px 13px 6px 13px;
  display: inline-block;
  border-right: 1px solid #c7daf8;
  border-top: 1px solid #c7daf8;
  border-bottom:1px solid #c7daf8;
  margin-left: -4px;
  font-weight: 700;
}
.tabHeadSecManage span:nth-child(1)
{
    border-left: 1px solid #c7daf8;
    border-radius: 16px 0px 0px 16px;
}

.tabHeadSecManage span:nth-child(3)
{
  
  border-radius: 0px 16px 16px 0px;
}
.tabHeadSecManage span:nth-child(4)
{
  
  border-radius: 0px 16px 16px 0px;
}
.tabHeadSecManage span:hover
{
  cursor: pointer;
  background-color: #25bcf1;
  border-color: #25bcf1; 
  color:#fff;
}
.tabHeadSecManage .active
{
  background-color: #25bcf1;
  border-color: #25bcf1; 
  color:#fff;
}
.bodySec tr td:nth-last-child(1)
{
      width: 110px;
    text-align: right;
    padding-right: 16px;
}
.tabsContentcomm
{
  display: none;
}
.tabsContentcomm.active
{
  display: block;
}
.unblockColor
{
  color: #22b8f5;
     font-size: 12px;

}
.fileColor
{
color: #22b8f5; 
}
.deleteColor
{
  color: #e51c1f;
      font-size: 12px;

}
.blockColor
{
  color: #e2bc25;
      font-size: 12px;
}
.autodeviceapprovemainSec
{
  padding-left:35%;
  padding-right:35%;
  padding-bottom: 30px;
}
.autoDbox
{
  background-color: #fff;
  padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(194, 216, 252, 0.26);
}
.tabBtn1
{
  padding: 7px 0px;
    background-color: #23c2bd;
    color: #fff;
    width: 85%;
    border-radius: 38px;
    border: 1px solid #23c2bd;
    font-size: 18px;
   /* font-weight: bold;*/
    margin-top: 25px;
}
.inputClass1 {
    width: 70%;
    color: #9E9E9E;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    height: 40px;
}
.bodySec tr:nth-last-child(1) td {
    border-bottom: none;
}
.tablebodySec .single a
{
  color:#424040;
}
.moreImg
{
	padding-left: 10px;
    width: 33px;
}
.leftstyle
{
	float: left;
}
a:hover
{
	text-decoration: none;
}
.textC
{
	text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #333;
  text-align: center;
}
.disf{
  display: flex;
  justify-content: center;
}
.fs_m{
  font-size: medium;
}
.dltpopup{
  max-width: 90%;
  width: 365px;
  height: 332px;
  margin-left: auto;
  margin-right: auto;
}
.passfield{
  max-width: 90%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  top: 15%;
  position: absolute;
  height: 80%;
  max-height: 80%;
  z-index: 9999;
  background: transparent;
}
.passheader{
  	background: #23bbf3 !important;
    text-shadow: 0px 0px 1px #000;
    color: #FFF !important;
    line-height: 36px;
    height: 40px;
    padding: 0;
    border-radius: 6px 6px 0 0;
    box-shadow: 0px 7px 5px 0px #625E5E;
    font-size: 14px !important;
}
.passtextbox{
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    max-height: 75%;
    max-width: 100%;
    width: 400px;
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 0px 0px 6px 6px;
    border-bottom: 5px solid #FFF;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 7px 5px 0px #625E5E;
}

.fake-input { position: relative; width:98%; }
.fake-input input { border:none; background-color:#fff; display:block; width: 100%; box-sizing: border-box; }
.fake-input img { position: absolute; top: 2px; right: 5px; }
.fake-input label { position: absolute; top: 7px; right: 5px;font-size: 10px;font-weight: 100;}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  height: auto;
}

a.dropdown-item:hover{
  background-color: #6699cc !important;
  color: #fff !important;
  height: auto;
}

.rowdropdownmenupadding0 {
    padding: 0px;
}

.new-menu {
    margin-top: 0px;
}

.overlaySec_corp {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 2;
    border: 2px solid #f7f0f0;
    border-radius: 12px;
    padding-right: 39px;
    width: 100%;
    max-width: 100%;
}
.bar{  
	border:0.3px solid #01acb2;
	display:block;
}

input:read-only{
    color: #888585;
}

.counter {
  display: inline-flex;
  cursor:pointer;
  width:100px;
  height:100px;
  max-width:100%;
  position:relative;
  justify-content:center;
  align-items:center;
  font-size: calc(1em);
  transition: height .1s ease-in-out;
  background: #fff;
  border-radius:50%;
  box-shadow:0px 1px 10px 2px rgba(0,0,0,0.2);
}
.percentage {
  position:absolute;
  text-align:center;
  top:50%;
  left:0;
  right:0;
  vertical-align:middle;
  transform:translate3d(0,-50%,0);
  color:black;
}
canvas {
  position:absolute;
  top:0;
  left:0;
}

.custom-mt-form-group { position: relative; /*margin-top: 30px;*/ margin-bottom: 1.25rem;}
.custom-mt-form-group input { height: 2.9rem;}
.custom-mt-form-group textarea { resize: none;}
.custom-mt-form-group select {  font-size: 1rem; height: 1.6rem; padding: 0.125rem 0.125rem 0.0625rem; background: none; border: none; line-height: 1.6; box-shadow: none;}
.custom-mt-form-group .control-label { position: absolute; top: 0.25rem; padding-left: 0.125rem; z-index: 1; color: grey; font-size: 0.8rem; font-weight: normal; -webkit-transition: all 0.28s ease; transition: all 0.28s ease;}
.custom-mt-form-group .bar { position: relative; border-bottom: 0.0625rem solid #e7e7e7; display: block;}
.custom-mt-form-group .bar::before { content: ''; height: 0.125rem; width: 0; left: 50%; bottom: -0.0625rem; position: absolute; background: #337ab7; -webkit-transition: left 0.28s ease, width 0.28s ease;transition: left 0.28s ease, width 0.28s ease; z-index: 2;}
.custom-mt-form-group select,
.custom-mt-form-group input,
.custom-mt-form-group textarea { display: block; background: none; padding: 0.125rem 0.125rem 0.0625rem; font-size: 1rem; border-width: 0; border-color: transparent; line-height: 1; color: transparent; -webkit-transition: all 0.28s ease; transition: all 0.28s ease; box-shadow: none;}
.custom-mt-form-group select,
.custom-mt-form-group input:focus,
.custom-mt-form-group input:valid,
.custom-mt-form-group input.form-file,
.custom-mt-form-group input.has-value,
.custom-mt-form-group textarea:focus,
.custom-mt-form-group textarea:valid,
.custom-mt-form-group textarea.form-file,
.custom-mt-form-group textarea.has-value { color: #333; width:100%;}
.custom-mt-form-group select ~ .control-label,
.custom-mt-form-group input:focus ~ .control-label,
.custom-mt-form-group input:valid ~ .control-label,
.custom-mt-form-group input.form-file ~ .control-label,
.custom-mt-form-group input.has-value ~ .control-label,
.custom-mt-form-group textarea:focus ~ .control-label,
.custom-mt-form-group textarea:valid ~ .control-label,
.custom-mt-form-group textarea.form-file ~ .control-label,
.custom-mt-form-group textarea.has-value ~ .control-label { font-size: 0.8rem; color: gray; top: -1rem; left: 0;}
.custom-mt-form-group select:focus,
.custom-mt-form-group input:focus,
.custom-mt-form-group textarea:focus { outline: none;}
.custom-mt-form-group select:focus ~ .control-label,
.custom-mt-form-group input:focus ~ .control-label,
.custom-mt-form-group textarea:focus ~ .control-label { color: #337ab7;}
.custom-mt-form-group select:focus ~ .bar::before,
.custom-mt-form-group input:focus ~ .bar::before,
.custom-mt-form-group textarea:focus ~ .bar::before { width: 100%; left: 0;}

.aboutprofile-pic {
    width: 20%;
    margin: auto;
    border: 2px solid #06b4c2;
    border-radius: 50%;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.customtab {
    border-bottom: 2px solid #f7fafc;
    padding-bottom: 20px;
    font-size: 18px;
}

.fs_15{font-size: 15px !important;}

input[type=checkbox][disabled] + label {
  font-style: normal;
  font-weight: 400;
}

/* Clearable text inputs */
.clearable{
  position: relative;
  display: inline-block;
}
.clearable input[type=text]{
  padding-right: 24px;
  width: 100%;
  box-sizing: border-box;
}
.clearable__clear{
  display: none;
  position: absolute;
  right:0; 
  top:10px;
  padding: 0;
  font-style: normal;
  font-size: 1.2em;
  user-select: none;
  cursor: pointer;
}
.clearable input::-ms-clear {  /* Remove IE default X */
  display: none;
}

/* WaterMark color box */
.primary-content {
	height: 30%;
	color: #fff;
	overflow-y: auto;
	align-items: start;
	justify-content: center;
	flex-direction: column;
}

.color-picker {
	border-radius: 5px;
	padding: 15px;
	padding-top: 5px;
}
.color {
	position: relative;
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	transition: 0.2s linear all;
	cursor: pointer;
}
.color:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
}
.color.active::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: #0005;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.color.active::after {
	content: '';
	position: absolute;
	top: 18%;
	left: 50%;
	border: 2px solid transparent;
	border-left-color: #fff;
	border-bottom-color: #fff;
	width: 15px;
	height: 8px;
	transform: rotate(-45deg) translate(-50%, -50%);
}
/* WaterMark color box */

/**** 10 NOV 2020 ****/
.checkbox-xl .custom-control-label::before, 
.checkbox-xl .custom-control-label::after {
  top: 1.2rem;
  width: 1.85rem;
  height: 1.85rem;
}

.checkbox-xl .custom-control-label {
  padding-left: 5px;
  font-weight: 400;
}

.labelradio {
     font-weight: 400; 
}
.permitted_app_checkbox_top_margin{
      margin-top: 20px;
}
.buton_margin_left{
  margin-left: 18px;
}
/**** 10 NOV 2020 ****/
.adminheaderpadding{
	padding: 0px;
}

.msgbtn {
    padding: 7px 0px;
    background-color: #23c2bd;
    color: #fff;
    width: 21%;
    border-radius: 35px;
    border: 1px solid #23c2bd;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.adm_display_table{
  overflow-y: scroll; height: 450px; border: 1px solid #D3D3D3; padding-left: 0px !important; padding-right: 0px !important;
}
.admtable_row_padding{
  cursor:pointer;
  padding-top:0px;
  padding-bottom:9px;
  border-bottom: 1px solid #e2e1e1;
}

.admtable_row_padding a{
	color: #424040 !important;
}

.multiusermodal_header_background{
  background-color: #23bbf3;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  padding-right: 25px;
  margin-right: -1px;
}
.text_white{
  color: #fff !important;
}
.cancel_UploadUser_btn{
  width: 110px;
  border: none;
}
.admin_plusicon_dropdownmenu{
  margin-top: 10px; padding: 0px; border-radius: 18px;
}
.adminadduserlistclass{
  padding: 15px; border-bottom: 1px solid #ccc; border-top-left-radius: 18px; border-top-right-radius: 18px;
}
.adminaddmutipleuserlistclass{
  padding: 15px; border-bottom: 1px solid #ccc; border-bottom-left-radius: 18px; border-bottom-right-radius: 18px;
}
.uploadcsvlableclass{
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: auto;
  margin-left: 1%;
}
.upload_download_btn{
  width: 155px;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.admin_seeting_Screen{
	overflow: auto; height: 500px; padding-left: 0px; padding-right: 0px;
}
.adminApprovTab{
  overflow:auto;height:390px;margin-bottom:30px;
}

.admindrive_header_icon{
  background-color: #2abfc1; 
  color: #fff;
  font-size: 18px;
  padding-top:12px; 
  padding-left: 12px;
}
.admindrive_header_user_name_dispaly{
  cursor: pointer; 
  background-color: rgb(248, 249, 250);
  border: 1px solid rgb(225, 225, 225); 
  box-shadow: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem !important;
}
.admindrive_display_user_img{
  width: 45px;
  height: 42px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.admindrive_display_user_name{
  font-size:18px;
  text-transform:capitalize;
  color: #007bff; 
  font-style: normal; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important; 
  -moz-font-smoothing:auto;
  -webkit-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}
.margin-padding{
  margin: 0px auto;
  padding: 0px;
}
.con-fluid{
  padding-left: 85px !important;
  padding-right: 0px !important;
  width: 100%;
}

/* Media Query Desktop*/

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .adm_display_table{
      height: 560px !important;
   }
   .admtable_row_padding{
     padding-bottom:0.6%;
   }
   .admin_seeting_Screen{
     height: 651px;
   }
   .adminApprovTab{
     height:485px;
   }
   
   .admin_autoipTab{
     height: 583px;
   }
   .admin_userprofilewidth{
    width: auto
   }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .adm_display_table{
      height: 560px !important;
   }
   .admtable_row_padding{
     padding-bottom:0.6%;
   }
   .admin_seeting_Screen{
     height: 651px;
   }
   .adminApprovTab{
     height:485px;
   }
   
   .admin_autoipTab{
     height: 583px;
   }
   
   .admin_userprofilewidth{
    width: auto;
   }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .searchSec {
      width: 60%;
      margin: 0px auto;
      padding: 0px;
    }
    .admin_user_detail_col2{
      word-wrap: break-word;
    }

    .con-fluid{
      padding-left: 0px !important;
      padding-right: 0px !important;
      width: auto;
    }
    .admin_icon_width{
      width: 138%;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .searchSec {
      width: 60%;
      margin: 0px auto;
      padding: 0px;
    }
    .admin_user_detail_col2{
      word-wrap: break-word;
    }

    .con-fluid{
      padding-left: 0px !important;
      padding-right: 0px !important;
      width: auto;
    }
    .admin_icon_width_div{
      width: 50%;
    }

    .admindrive_header_user_name_dispaly {
      width: 119%;
      padding: 0px;
      margin-left: -43px;
    }

    .admin_icon_width{
      width: 192%;
      margin-right: -203px;
    }

    .adm_display_table {
      height: 508px !important;
    }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .admindrive_header_user_name_dispaly {
      width: 118%;
      padding: 0px;
      margin-left: -43px;
    }

    .admin_icon_width {
      width: 96%;
      margin-right: 6px;
  }

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .admindrive_header_user_name_dispaly {
      width: 101%;
      padding: 0px;
      margin-left: -14px;
    }

    .admin_icon_width{
      width: 82%;
    }

}

.margin-15{
  margin-top: 15px; margin-left: 15px;
}
